<div class="compName-section" id="compName-{{ section.id }}">
    <h1 class="compName-title">{{ section.settings.title }}</h1>
    <img class="compName-image" src="{{ section.settings.image | img_url: '400x' }}">
</div>